body{
  background: linear-gradient(to bottom, #2e2e2e, #000000);
  min-height: 100vh;
  margin: 0;
  color: #f2f2f2;
} 

/* ================== MENU ================== */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #181818;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 200%;
}

.shadow:hover{
  text-shadow: 0px 0px 20px #006666;
}


/* ================== BODY ================== */
body {
  margin: 0;
  padding-top: 40px; /* РЕАЛЬНИЙ ВІДСТУП ПІД МЕНЮ */
}


/* form*/
label {
  display: none;
}

#links {
    display: flex;
    justify-content: center; /* по центру */
    gap: 30px;               /* однакова відстань */
    align-items: center;
}

.apps {
    width: 50px; /* або свій розмір */
    border-radius: 15%;
  transition: transform 0.5s;
}

.apps:hover{
  transform: scale(1.3);
  box-shadow: 0 0 20px 1px #006666;
}

#zapis {
  display: flex;
  justify-content: space-between;
  padding: 0; /* відступи від країв екрана */
}

#left{
  display: flex;
  flex-direction: column; /* елементи один під одним */
  align-items: center; 
  padding-top: 1%;
  padding-left: 15%;
}


#right{
  text-align: center; 
  background-color: #000000;
  border-radius: 15%;
  padding: 2%;
}

#appeal h1 {
  padding: 10%;
  margin-bottom: 10vh;            /* p близько */
}

/* текст */
#appeal p {
  font-size: 150%;
  margin-bottom: 20vh;           /* кнопка нижче середини */
}

/* кнопка */
.btnZapis {
  padding: 22px 40px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman", "Georgia", "Didot";

  background: none;
  border: none;
  outline: none;

  font-size: 200%;
  cursor: pointer;
  color: #009999;

  transition: 0.3s;
}

.btnZapis:hover {
  opacity: 0.6;
}

#zapis h1{
  font-size: 300%;
}

form{
  text-align: center;
  font-family: "Times New Roman", "Georgia", "Didot";
}

input, select{
  font-size: 150%;
  font-family: "Times New Roman", "Georgia", "Didot";
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

p{
  transition: 0.5s;
}

p:hover{
  transform: scale(1.06);
}

h1{
  transition: 0.5s;
}

h1:hover{
  transform: scale(1.09);
}