.burger{
  font-size: 50px;
  background: none;
  border: none;
  color: #009999;
  text-decoration: none;
  display: none;
}

.zag-phone{
    display: none;
}

.lap-none{
    display: none;
}

@media (max-width: 768px) {
    
    body {
        padding-top: 22px;
    }
    .menu{
        display: none;
    }

    .burger{
        display: block;
        position: fixed;
        right: 10px;
        top: 1px;
        margin: 1%;
        z-index: 3;
        text-shadow: 10px 5px 10px #000000;
    }

    .sn{
        margin-top: 10%;
    }
    
    .lap-none{
        display: block;
    }
    
    .works-grid {
        grid-template-columns: 1fr;
    }

    .work-card{
        aspect-ratio: 16 / 10;
    }

    /*пробне*/

    #inform{
        flex-direction: column-reverse;
        text-align: center;
    }

    .masterPhoto{
        width: 80%;
    }

    .text h1{
        font-size: 40px;
    }

    .text p{
    font-size: 18px;
    }

    .text h1{
        display: none;
    }

    .text p{
        font-size: 180%;
    }

    .zag-phone{
        display: block;
        text-align: center;
        font-size: 300%;
        color: white;
        text-shadow: 0 0 10px #000000;
        white-space: nowrap;
    }

    #inform img{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #zapis h1{
        display: none;
    }


    #right{
        display: none;
    }

    #zapis{
        display: flex;
        justify-content: center;
    }

    #left{
        width: 90%;
        max-width: 500px;
        padding-left: 0; /* ОСЬ ГОЛОВНЕ */
    }

    .left{
        display: none;
    }

    .block{
        flex-direction: column;
        text-align: center;
    }

    .block .center{
        width: 80%;
        padding: 3%;
        border-radius: 30px 30px 30px 30px;
    }
    
    .net{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 90%;
        margin: 0 auto;
    }
    .net img{
        width: 70%;
        border-radius: 10px;
    }



}




@media (max-width: 1024px) {

  

  #left{
    flex: 1;
    padding-left: 5%;
  }

  #right{
    flex: 1;
  }
    
}


@media (max-width: 320px) {

    .zag-phone{
        font-size: 200%;
    }
}